.colorul{
    color: firebrick;
    position:fixed;
    right: 5px;
    top: 5px;
  }
  
  
  p{
    color: rgb(147, 223, 24);
    margin: 20px;
    padding:  35px;
    font-size: 50px;
      
    
    
  }
  ol{
    border-style: outset;
    background-color:blue;
    margin: 20px;
    padding:  35px;
  }
  
  a{
    text-decoration: none
  
  }
  .colorgreen{
    color: greenyellow
  }
  span{
    color: black;
    
   background-color: hsl(0,50%, 50%);
  }
  .dim {
    height: 300px;
    width: 300px;
    background-color: black;
    float: right;
  }
  ul {
    border-style: dotted;
    background-color: hsla(235, 100%, 50%, .2);
  }
  
  .starimage{
    height: 50px;
    width: 50px;
  }
 
  #AboutMe{
    color: #000;
    position: sticky;
    right: 5px;
    top: 5px;
  }